<h2 mat-dialog-title>Products Image</h2>
<mat-dialog-content class="mat-typography">
 <app-file-upload [options]="options"></app-file-upload>

 <mat-card class="product-image-card" *ngFor="let image of images">
  <mat-card-header>  
   <mat-card-title></mat-card-title>
   <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="image.path" alt="">
  <mat-card-content>
    
  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="background-color: chocolate;color: wheat;" (click)="deleteImage(image.id)">Delete</button>
  </mat-card-actions>
</mat-card>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>

